.DS_Store
# node_modules
# /dist

# Local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Media files
1-khaite--desktop30.mp4
4-khaite--desktop30.mp4
6-zaraman--desktop30.mp4