.DS_Store
# node_modules
# /dist

# LOCAL ENV FILES
# .env.local
# .env.*.local

# LOG FILES
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# pnpm-debug.log*

# EDITOR DIRECTORIES AND FILES
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MEDIA FILES
hermanosgutierrez-elbuenoyelmalo.mp3
1-khaite--desktop30.mp4
1-khaite--phone30.mp4
# 1-khaite--tablet30.mp4
4-khaite--desktop30.mp4
4-khaite--tablet30.mp4
6-zaraman--desktop30.mp4
6-zaraman--tablet30.mp4