header {
	.header-logo {
		z-index: 100;
		position: fixed;
		top: 32px;
		right: 48px;
	}
}

/* RESPONSIVE ============================================================ */
header {
	//tablet
	@media (max-width: 999px) {
	}

	//phone
	@media (max-width: 499px) {
	}
}
