.slide {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #000000;
	.info {
		position: absolute;
		vertical-align: middle;
		bottom: 24px;
		left: 32px;
		p {
			color: white;
		}
	}
}
.slide#one {
	background-image: url("../assets/images/khaite2022-mp4bg.jpg");
}
.slide#two {
	background-image: url("../assets/images/khaite2022-2.jpg");
}
.slide#three {
	background-image: url("../assets/images/khaite2022-3.jpg");
}
.slide#four {
	background-image: url("../assets/images/zaraman-1.jpg");
}
.slide#about {
	background-image: url("../assets/images/zara-2.jpg");
	.info {
		bottom: 24px;
		p {
			color: $color-base;
			max-width: 50%;
		}
	}
}

/* RESPONSIVE ============================================================ */

//tablet
@media (min-width: 500px) {
}

//laptop
@media (min-height: 1000px) {
}
