.slide {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #000000;
	p.info {
		position: relative;
		vertical-align: middle;
		bottom: 64px;
		left: 32px;
	}
}
.slide#one {
	background-image: url("../assets/images/khaite2022-mp4bg.jpg");
}
.slide#about {
	.link-insta {
		z-index: 1;
		position: fixed;
		bottom: 32px;
		right: 48px;
	}
}

/* RESPONSIVE ============================================================ */

//tablet
@media (min-width: 500px) {
}

//laptop
@media (min-height: 1000px) {
}
