.slide {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #000000;
	.video--container {
		display: flex;
		justify-content: center;
	}
	video {
		position: absolute;
		// min-width: 100%;
		// min-width: 100vw;
		// min-height: 100%;
		// min-height: 100vh;
		// width: 100%;
		// width: 100vw;
		// height: 100%;
		// height: 100vh;
	}
	.info {
		position: absolute;
		vertical-align: middle;
		bottom: 24px;
		left: 32px;
		max-width: 70%;
		p {
			display: inline-block;
			margin-bottom: 0;
			color: white;
		}
	}
}
.slide#one {
	background-image: url("../assets/images/1--desktopbg.jpg");
}
.slide#two {
	background-image: url("../assets/images/2--desktop.jpg");
}
.slide#three {
	background-image: url("../assets/images/3--desktop.jpg");
}
.slide#four {
	background-image: url("../assets/images/4--desktop.jpg");
}
.slide#five {
	background-image: url("../assets/images/5--desktop.jpg");
	.info {
		p {
			color: $color-base;
		}
	}
}
.slide#six {
	background-image: url("../assets/images/6--desktop.jpg");
}
.slide#seven {
	background-image: url("../assets/images/7--desktop.jpg");
}
.slide#about {
	background-image: url("../assets/images/contact--desktop.jpg");
	.info {
		p {
			color: $color-base;
		}
	}
}
.link-insta a {
	z-index: 1;
	display: inline-block;
	position: relative;
	padding: 8px;
	margin: -8px;
}

/* RESPONSIVE ============================================================ */
//phone
@media (max-width: 499px) {
	.slide {
		.info {
			bottom: 16px;
			left: 24px;
		}
	}
	video {
		height: 100vh !important;
	}
	.slide#one {
		background-image: url("../assets/images/1--tablet.jpg");
	}
	.slide#two {
		background-image: url("../assets/images/2--tablet.jpg");
	}
	.slide#three {
		background-image: url("../assets/images/3--phone.jpg");
	}
	.slide#threebis {
		background-image: url("../assets/images/3bis--phone.jpg");
	}
	.slide#four {
		background-image: url("../assets/images/4--tablet.jpg");
	}
	.slide#five {
		background-image: url("../assets/images/5--phone.jpg");
	}
	.slide#six {
		background-image: url("../assets/images/6--tablet.jpg");
	}
	.slide#seven {
		background-image: url("../assets/images/7--tablet.jpg");
	}
	.slide#about {
		background-image: url("../assets/images/contact--phone.jpg");
		.info {
			top: 48px;
			left: 32px;
		}
	}
}

//tablet
@media (min-width: 500px) and (max-width: 999px) {
	.slide {
		.info {
			bottom: 16px;
			left: 24px;
		}
	}
	video {
		height: 100vh !important;
	}
	.slide#one {
		background-image: url("../assets/images/1--tablet.jpg");
	}
	.slide#two {
		background-image: url("../assets/images/2--tablet.jpg");
	}
	.slide#three {
		background-image: url("../assets/images/3--tablet.jpg");
	}
	.slide#threebis {
		background-image: url("../assets/images/3bis--tablet.jpg");
	}
	.slide#four {
		background-image: url("../assets/images/4--tablet.jpg");
	}
	.slide#five {
		background-image: url("../assets/images/5--tablet.jpg");
	}
	.slide#six {
		background-image: url("../assets/images/6--tablet.jpg");
	}
	.slide#seven {
		background-image: url("../assets/images/7--tablet.jpg");
	}
	.slide#about {
		background-image: url("../assets/images/contact--tablet.jpg");
		.info {
			top: 48px;
			left: 32px;
		}
	}
}

//laptop
@media (min-height: 1000px) {
}
